.story {
  margin-left: 350px;
  margin-top: -50px;
  height: 200px;
  width: 400px;
  position: absolute;
  border: 2px solid white;
  padding: 1px;

}

.image {
  position: relative;
  height: 100px;
  width: 75px;
  margin-top: 50px;
  margin-left: 300px;

}

.body {
  background-image: url(https://i.imgur.com/eIjNpSh.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
